In [3]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [ ]:
df = pd.read_csv("listings.csv")

df.head()

In [ ]:
df.tail(n = 10) # The last 10 rows of the DataFrame

In [ ]:
df.describe()

In [ ]:
df.info(show_counts=True, memory_usage=True, verbose=True)

In [ ]:
df.shape # Get the number of rows and columns

In [ ]:
df.columns

In [ ]:
list(df.columns)

In [ ]:
df[['name']]

In [ ]:
df[['name', 'neighbourhood_group']]

In [ ]:
df[['last_review', 'reviews_per_month']]

In [6]:
from dateutil.parser import parse
import datetime

df = pd.read_csv("listings.csv")

df2 = pd.DataFrame(df['reviews_per_month'] )
df2['last_review'] = pd.to_datetime(df["last_review"])
df2

       reviews_per_month last_review
0                   3.60  2025-02-24
1                   1.65  2024-06-09
2                   0.66  2024-10-01
3                   2.03  2025-02-17
4                   0.29  2024-04-14
...                  ...         ...
15426                NaN         NaT
15427                NaN         NaT
15428               1.00  2025-03-10
15429                NaN         NaT
15430               1.00  2025-03-06

[15431 rows x 2 columns]

In [9]:
df['last_review'] =pd.to_datetime(df['last_review'])
dsf = df[(df['last_review'].dt.year == 2024)&(df['last_review'].dt.is_month_end)]
dsf[['last_review','number_of_reviews']].max()

last_review          2024-12-31 00:00:00
number_of_reviews                    432
dtype: object

In [10]:
df['last_review'] = pd.to_datetime(df['last_review'])
dsf = df[(df['last_review'].dt.year == 2024)&(df['last_review'].dt.day_of_week == 5)]
dsf['number_of_reviews'].sum()

13579